anyio==3.5.0; python_version >= "3.6" and python_full_version >= "3.6.2"
asgiref==3.5.0; python_version >= "3.7"
astroid==2.9.3; python_full_version >= "3.6.2" and python_version >= "3.6"
async-generator==1.10; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
bcrypt==3.2.0; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.0.3; python_version >= "3.7"
colorama==0.4.4; sys_platform == "win32" and python_full_version >= "3.6.2" and (python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.5.0") and (python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0") and python_version >= "3.6"
coverage==6.3.1; python_version >= "3.7"
cryptography==36.0.1; python_version >= "3.6"
dnspython==2.2.0; python_version >= "3.6" and python_version < "4.0"
ecdsa==0.17.0; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
fastapi==0.73.0; python_full_version >= "3.6.1"
h11==0.12.0; python_version >= "3.7"
httpcore==0.14.7; python_version >= "3.6"
httpx==0.22.0; python_version >= "3.6"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.6"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
itsdangerous==2.0.1; python_version >= "3.6"
jinja2==3.0.3; python_version >= "3.6"
lazy-object-proxy==1.7.1; python_version >= "3.6" and python_full_version >= "3.6.2"
markupsafe==2.0.1; python_version >= "3.6"
mccabe==0.6.1; python_full_version >= "3.6.2" and python_version >= "3.6"
mongoengine==0.23.1; python_version >= "3.6"
outcome==1.1.0; python_version >= "3.6"
packaging==21.3; python_version >= "3.6"
passlib==1.7.4
platformdirs==2.5.0; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.6"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_version < "4"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and os_name == "nt" and implementation_name != "pypy" or os_name == "nt" and implementation_name != "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pydantic==1.9.0; python_full_version >= "3.6.1"
pylint-quotes==0.2.3; python_version >= "3.6"
pylint==2.12.2; python_full_version >= "3.6.2"
pymongo==3.12.3; python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
pytest-cov==3.0.0; python_version >= "3.6"
pytest==7.0.1; python_version >= "3.6"
python-dotenv==0.19.2; python_version >= "3.5"
python-jose==3.3.0
python-multipart==0.0.5
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.6"
rsa==4.8; python_version >= "3.6" and python_version < "4"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
sniffio==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.2"
sortedcontainers==2.4.0; python_version >= "3.6"
starlette==0.17.1; python_version >= "3.6" and python_full_version >= "3.6.1"
toml==0.10.2; python_full_version >= "3.6.2" and python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
trio==0.19.0; python_version >= "3.6"
typing-extensions==4.1.1; python_version >= "3.6" and python_full_version >= "3.6.1"
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
uvicorn==0.17.5; python_version >= "3.7"
wrapt==1.13.3; python_full_version >= "3.6.2"
