<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', path='/CSS/style.css')}}">
    <title>ProDCube - Backend</title>
</head>
<body>

<div class="container">
    <header>
        <nav class="navigation">
            <div class="title">
                <h1>ProDCube</h1>
                <div class="banner">
                    Api
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="landing-content">
            <h1>
                Welcome to ProDCube API
            </h1>
        </div>
        <div class="form-container">

            <div class="card">

                <div class="ellipse ellipse-one"></div>
                <div class="ellipse ellipse-two"></div>
                <div class="form-title">
                    <h1>Login</h1>
                    <div class="underline-line"></div>
                </div>
                <form action="/internalLogin" method="post">
                    <div class="input-field email-field-margin">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input-field password-field-margin">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <button type="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>

    </main>
</div>
</body>
</html>